@font-face {
  font-family: rockFont;
  src: url(../../font/Rockit.ttf);
}

@font-face {
  font-family: rockText;
  src: url(../../font/gomarice_rockin_record.ttf);
}

@font-face {
  font-family: truckin;
  src: url(../../font/KeeponTruckin.ttf);
}

@font-face {
  font-family: rounded;
  src: url(../../font/Rounded_Elegance.ttf);
}



body {
    font-family: "rounded" !important;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: rgb(36, 38, 40);
    color: white;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}
.text-muted {
    color: white !important;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444;
    cursor: pointer;
}

.newBandForm {
    width: 100%;
    height: auto;
}

.addShowForm {
    height: auto;
    width: 75%;
}

.hidden {
    display: none;
}

.loginForm {
    width: auto;
}

.homeTable {
    width: 75%;
}

.menuMusic {
    width: 1.5em;
    height: 1.6em;
}

.sweetAlert {
    width: 50%;
}

h1, h2, h3, h4, h5, h6, .appHeader {
    font-family: "rockFont" !important;
    height: auto;
    padding-top: 50px;
    text-align: center;
    color: white;
}

form {
    /* font-size: 2rem !important; */
}

.dropDownMenu {
    font-size: 15pt;
}

.MuiTableCell-body {
    color: white !important;
    font-family: 'rounded' !important;
}

.MuiTableCell-head {
    color: white !important;
    font-family: 'rounded' !important;
}

.homeContainer {
    justify-content: center !important;
}
